* {
    font-family: "Roboto", sans-serif;

}

nav>div>ul>li>a.active-color {
    color: #109AF2;
}

h2 {
    border-top: 4px solid black;
    border-bottom: 4px solid #109AF2;
    font-weight: 700;
    display: inline-block;
    padding: 4px 0px;
}

.bg-gray {
    background-color: rgb(241, 241, 241);

}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

a.a-more {
    width: 40px;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 500;
    font-size: x-large;
    transition: .7s;
    border: 2px solid white;


}

.a-more:hover {
    text-decoration: none;
    border-color: #109AF2;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #00c6ff, #0072ff);
    text-decoration: none;

}


/* color box */
#ch-color {
    width: 210px;
    padding-top: 18px;
    top: 130px;
    z-index: 11;
    transition: all 1s;
}

#ch-color li {
    width: 30px;
    height: 30px;
    background-color: blue;
}

#ch-color .btn-box-color {
    left: 210px;
    top: 2px;
    color: white;
    background-color: #109af7;
    padding: 9px;
}
#ch-color i{
animation-name: spin;
animation-duration: 5000ms;
animation-iteration-count: infinite;
animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.ch-color-hide {

    left: -214px;
}

.ch-color-show {
    left: 0;
}

/* start nav bar */
nav {
    transition: all 1s;

}

nav ul>li>a {
    font-size: large;
    font-weight: 600;
    margin-left: 20px;
}

nav>a.navbar-brand {
    font-size: x-large;
    border: 4px solid #109af7;

}

.navbar-shrink {
    padding: 10px 0;
    box-shadow: 0 7px 16px 0 rgba(50, 50, 50, .1);
    background-color: #fff;
    transition: all 1s;
}

nav>a,
nav>div>ul>li>a {
    color: white;
    transition: 0.4s;

}

.navbar-shrink>a,
.navbar-shrink>div>ul>li>a {
    color: black;
    transition: 0.4s;


}

nav>a:hover,
nav>div>ul>li>a:hover {
    color: #109af7;

}


/* start section 1 */
#sec1-head {
    height: 120vh;
    background-image: url(../pic/blue-sky-clear-sky-cold-fog-346529.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.cover {
    position: absolute;
    z-index: 1;
    background-color: #00000096;
    height: 120vh;
    width: 100%;
}

#sec1-head>div.welcome {
    position: absolute;
    z-index: 3;
    width: 100%;
    /* padding-top: 18%; */
    top: 50vh
}

#sec1-head h3 {
    font-size: xx-large;
    font-weight: 500;

}

#sec1-head p,
h1,
span {
    font-size: xx-large;
    font-weight: bold;
    font-size: xxx-large;
}

/* start section 1 */


/* start section 2 */

#sec2-me>div>div>div>a.a-more {
    color: #109AF2;
    border: 2px solid #109AF2;
    font-weight: 400;
    font-size: large;
}

#sec2-me>div>div>div>a.a-more:hover {
    color: white;


}

#sec2-me img {
    border: 15px solid rgb(237, 237, 237)
}

#sec2-me h3 {
    color: #109AF2;
    font-weight: 700;
}

#sec2-me h4 {
    font-weight: 500;
    font-size: large;
}




/* end section 2 */




/* start section 3 skills */

.success-stroke {
    stroke: #0075ff;
}

.circle-chart__background {
    stroke: #00c4ff
}

.skill-bottom {
    background-image: url(../pic/cat-2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.skill-bottom .cover,
#foot-contact .cover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #000000c2;
}

.skill-bottom .row i {
    font-size: 55px;
    color: #109af7;

}

.skill-bottom .row span {
    font-size: 30px;

}


/* end section 3 skills */
/* start section 4 services */
#sec4-services i {
    font-size: 50px;
    color: #109af7;


}

.class-border {
    background-color: rgb(241, 241, 241);
    transition: all .7s;
    border: 3px solid transparent;
}

.class-border h3 {
    font-size: larger;
}

.class-border:hover {
    border-color: #109af7;
    background-color: white;

}

/*end section 4 services */

/* start section 5 portfolio */
#sec5-port .bg-hover {
    background-color: transparent;
    color: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .8s;
    opacity: 1;

}

#sec5-port .bg-hover .i-hover {
    top: 40%;
    width: 100%;
    height: 10px;
    font-size: 230%;
}

#sec5-port .bg-hover:hover {
    background-color: #0099ff75;
    color: white;


}

.modal-dialog {
    max-width: 100%;
    margin: 0%;
    height: 100vh;
}

.hire-me {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #00c6ff, #0072ff);
}

.hire-me>div>a {
    font-weight: 300;
    font-size: large;
    color: white;

}

.hire-me>div>a:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, white, white);
    color: #109af7;
}


/* end section 5 portfolio */

/* start section 6 contact */
#foot-contact {
    background-image: url(../pic/contact.jpg);
    background-attachment: fixed;
    background-size: cover;

}

#foot-contact .contact-body {
    z-index: 1;

}

#foot-contact h2 {
    border-top-color: white;
    font-size: xxx-large;
}

#foot-contact input,
#foot-contact textarea {
    background-color: rgba(226, 226, 240, 0.18);
    color: white;

}

.details {
    color: #ddd;
}

.contact-a {
    color: #ddd;
    transition: all 1s;
    cursor: pointer;
}

.contact-a:hover {
    color: #109af7;
    text-decoration: none;
}

.details h3 {
    font-size: larger;
    border-bottom: 3px solid #109AF2;
    display: inline-block;
    color: white;


}

/* end section 6 contact */
/* strat last section  */
.last-sec a:hover {
    text-decoration: none;
    color: black;
    transition: all .7s;

}

/* end last section  */

/* start button top */
.btn-top {
    width: 70px;
    height: 70px;
    bottom: -85px;
    right: 20px;
    color: white;
    background-color: #109af7;
    z-index: 20;
    transition: all 1s;
}

.btn-top i {
    top: 24px;
    font-size: x-large;
}

/* end button top */

/* start section laoding */
.laoding {
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #109af7;
    transition: all 1s;
}

.laoding div {
    top: 45%;
}

/* end section laoding */